*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 1;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ee635e0a-8ad2-4b97-b015-081828bf48db/ddo9g6-9e221d5e-819a-44f4-a602-fa716e9c58a9.jpg/v1/fill/w_753,h_1061,q_70,strp/grungy_paper_texture_v_5_by_bashcorpo_ddo9g6-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjgxOCIsInBhdGgiOiJcL2ZcL2VlNjM1ZTBhLThhZDItNGI5Ny1iMDE1LTA4MTgyOGJmNDhkYlwvZGRvOWc2LTllMjIxZDVlLTgxOWEtNDRmNC1hNjAyLWZhNzE2ZTljNThhOS5qcGciLCJ3aWR0aCI6Ijw9MjAwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.eAbeWVGMMyUAGlpA5yKjcDnSj1NfRyZqgFhdTdW_5kg');
    background-position: center;
    background-size: cover;
}

ul{
    list-style: none;
    padding-left: 0;
}

section{
    width: 100%;
    display: grid;
    align-items: center;
    padding: 0;
}

.fila{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    font-size: smaller;
}

.columna{
    width: 80px;
}

.columna-p{
    width: 125px;
}

.f-list{
    display: flex;
    flex-wrap: wrap;
}